/* Палитра цветов макета */
:root {
  --main-bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --pale-bg-color: #f5f4fa;
  --btn-bg-color: #f5f4fa;
  --primary-text-color: #757575;
  --inverse-text-color: #ffffff;
  --title-text-color: #212121;
  --nav-link-color: #212121;
  --logo-black-color: #000000;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --border-color: #eeeeee;
}

/*-------Общие стили-------*/

/* Общие объявления */
body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Логотип */

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

header .logo {
  color: var(--logo-black-color);
}

footer .logo {
  display: inline-block;
  color: var(--inverse-text-color);
  margin-bottom: 20px;
}

.logo-start {
  color: var(--accent-color);
}

/* Шапка */

.site-header .container {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
}

.site-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-list {
  display: flex;
}

.nav-list > .item + .item {
  margin-left: 50px;
}

.nav-list > .item:first-child {
  margin-left: 93px;
}

.header-contact {
  display: flex;
}

.header-contact > .item + .item {
  margin-left: 50px;
}

.nav-list .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--nav-link-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link.current {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.site-header {
  border-bottom: 1px solid var(--border-color);
}

/* Подвал */

.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.address {
  color: var(--inverse-text-color);
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contact .link {
  display: inline-block;
  color: var(--footer-address-color);
  text-decoration: none;
  margin-top: 9px;
}

/* -------Стили для страницы Студия------- */

/* Герой */

.section.hero {
  background-color: var(--dark-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--inverse-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--inverse-text-color);
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Секция преимуществ */

.section.features {
  padding-bottom: 106px;
}

/* !!!! Заголовок этой секции скрыть правильно (когда расскажут как)*/
.features .section-title {
  display: none;
}

.feature-items {
  display: flex;
}

.feature-items .item:not(:last-child) {
  margin-right: 30px;
}

.feature-heading {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.feature-details {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Секция Чем мы занимаемся */

.section.business {
  padding-top: 0;
  padding-bottom: 82px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.business-items {
  display: flex;
}

.business-items .photo {
  display: block;
}

.business-items .item:not(:last-child) {
  margin-right: 30px;
}

/* Секция Наша команда */

.section.team {
  padding-bottom: 103px;
  background-color: var(--pale-bg-color);
}

.team-members {
  display: flex;
}

.team-members .item {
  padding-bottom: 30px;

  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg-color);
}

.team-members .item:not(:last-child) {
  margin-right: 30px;
}

.team-members .photo {
  display: block;
  margin-bottom: 30px;
}

.team-member {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* -------Стили для страницы Портфолио------- */

/* Секция Примеры работ*/

/* !!!! Заголовок этой секции скрыть правильно (когда расскажут как)*/
.works .section-title {
  display: none;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  /* border: none; */
}

.filter-button {
  display: inline-block;
  padding: 6px 22px;
  background-color: var(--btn-bg-color);
  color: var(--title-text-color);
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-container .item:not(:last-child) {
  margin-right: 8px;
}

.filter-button.btn-active,
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--inverse-text-color);
  cursor: pointer;
}

.works-samples {
  display: flex;
  flex-wrap: wrap;
}

.works-samples .item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  border: 1px solid var(--border-color);
}

.works-samples .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.works-samples .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.works-samples .photo {
  display: block;
  width: 100%;
}

.work-link {
  text-decoration: none;
  cursor: default;
}

.work-title {
  padding: 20px 24px;
}

.work-name {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-category {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
